<h1>Cover Page Headline</h1>

<i class="icon-md ion-wrench"></i> <%=link_to "Edit Headline", edit_homepage_path %>
<hr>

<h2><%= @homepage.title %></h2>
<h3><%= @homepage.subtitle %></h3>
<p><%= @homepage.body %></p>