
// => Begin Cover section styles



// Positions cover page content
.cover-content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  line-height: 2px;

}






// Styles the background image (image link on appications.html.erb)
.home_bg {



    position:relative;
    background-repeat: no-repeat;
    // positions background image when view window is reduced
    // e.g 20% 80% = mostly left side that remains visible
    background-position: 20% 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;


    }




// Box at bottom of all Event sections
.shaded-bg {
  background-color: #EFEFEF;
  padding: 50px 10px 50px 10px;
  margin-top: 60px;
  margin-bottom: 20px;
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
}


// Main sections styles

.intro-section {
    height: 100%;
    text-align: center;
    background: transparent;

}

.intro-text {
  line-height: 1;
  text-transform: uppercase;
  font-weight: 800;
}



// => End Cover section styles














.sponsor-section {
    padding-top: 50px;
    padding-bottom:50px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

#divide01 {
  background: url('parallax01.jpg') 50% 0 no-repeat fixed; min-height: 360px;
   -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 2px 2px 24px #000000;

}

#divide02 {
  background: url('bg.jpg') 50% 0 repeat fixed; min-height: 360px;
   -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
  position: relative;
  padding-top:40px;
  padding-bottom:40px;

}

.events-section {
    padding-top: 100px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.getinvolved-section {
    padding-top: 100px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.about-section {
    padding-top: 100px;
    background: #fff;border-bottom: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}




